* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

body {
  background:
    linear-gradient(rgba(94, 92, 92, 0.5), rgba(94, 92, 92, 0.5)),
    url("Photo/pexels.jpg"), no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 100vh;
}
